:root {
  --white: #fff;
  --gray-100: #F2F2F2;
  --gray-200: #D9D9D9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;

  --purple-500: #8284FA;
  --green-700: #5E60CE;
  --blue-500: #4EA8DE;
  --blue-700: #1E6F9F;
  --blue-disabled: #566974;

  --red-500: #E25858;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--gray-500);
  color: var(--gray-100);
  font-family: 'Inter', sans-serif;
  
  font-size: 16px;
  line-height: 1.5;
}

button, input, select, textarea {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

:focus {
  outline: transparent;
}