.container {
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: transparent;
  /* Not removed via appearance */
  border: 2px solid var(--blue-500);

  font: inherit;
  color: currentColor;
  width: 1.125em;
  height: 1.125em;
  margin: 4px;

  display: grid;
  place-content: center;

  border-radius: 100%;
  cursor: pointer;
  outline: none;
}

.container:checked {
  background-color: var(--purple-500);
  border: 2px solid var(--purple-500);
}

.container:checked::before {
  content: "✔";
  color: var(--white);
  font-size: 0.75rem;
}