.header {
  height: 12.5rem;
  width: 100%;
  background: var(--gray-700);
}

.container {
  max-width: 45rem;
  height: 100%;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 2.875rem;
  width: 7.875rem;
}